.parrafos, h2, html{
    color: #3B5998;
}
.negrita, .cursivaneg, h2, .apartadowebs{
    font-weight: bold;
}
.cursiva, .cursivaneg{
    font-style: italic;
}
.subrayado{
    text-decoration: underline;
}
h2{
    text-align: center;
}
.apartadowebs{
    text-align: center;
}
.imagenes{
    text-align: center;
}
html{
    font-family: Tahoma;
    font-size: 0.85em;
    background-color:#D0D8E9;
}
.listaord{
    list-style-type: decimal;
}
.listapunto{
    list-style-type: circle;
}
.hipernormal {
    text-decoration: none;
    color: inherit;
}
  